name: Build APK

on:
  pull_request:
  push:
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew assembleDebug
      
    - uses: actions/upload-artifact@v3
      with:
        name: Debug APK
        path: app/build/outputs/apk/debug/app-debug.apk
